<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de chocotorta</title>
    <link rel="stylesheet" href="../css/Style.css">
</head>

<body>
    
    <h1 class="verde-oscuro">Receta chocotorta</h1>
    
    <img src="../img/Chocotorta.jpg" alt="Chocotorta de Paulina cocina" width="500" height="250">

    <hr>
    
    <h2 class="verde-claro">Ingredientes</h2>
    <ul>
        <li>400 gr de dulce de leche (si es repostero mucho mejor, sino no importa!)</li>
        <li>400 gr de crema de leche o natilla</li>
        <li>750 gr de galletitas de chocolate</li>
        <li>Leche o café para remojar las galletitas</li>
        <li>50 gr de chocolate (cobertura o de taza) semi amargo</li>
        <li>50 gr de cacao en polvo</li>
    </ul>
    
    <h2 class="verde-claro">Instrucciones</h2>
    <ol>    
        <li>Comenzar a batir el dulce de leche y cuando esté de un color más claro agregar la crema. Batir en el punto más bajo de la batidora hasta que esté a punto letra. Tener sumo cuidado en que no se pase del punto porque sino se corta!
Si por esas tragedias de la vida se llegase a cortar: agregarle un chorrito de crema e integrar. Reservar a un costado.</li>
        <li>Remojar cada galletita y colocar en una fuente hasta formar una capa. Colocar una capa de la crema de dulce de leche. Otra capa de galletitas humedecidas y así 4 veces.</li>
        <li>Llevar a enfriar por 1 hora en refrigerador.</li>
        <li>Espolvorear con cacao en polvo. Al servir, rallar un poco de chocolate amargo por encima y a ser felices y comer chocotorta!</li>
    </ol>

    <iframe src="https://www.youtube.com/embed/GsgzsFWT_qs?si=pDP5Ss1bpbir-BfW" width="500" height="250"></iframe>
    <br>
    <a href="https://www.paulinacocina.net/receta-chocotorta-original/21722" target="_blank">Receta de chocotorta de Paulina cocina</a>
    <br>
    <a href="Instructivo2.html">Receta de cheesecake</a> 
    <br>
    <a href="../../Index.html">Volver al inicio</a>

</body>
</html>

