<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de cheesecake</title>
    <link rel="stylesheet" href="../css/Style.css">
</head>

<body style="background-color: #fffde7;">

    <h1 class="montserrat">Receta cheesecake</h1>
    
    <img src="../img/Cheesecake.jpg" alt="Cheesecake de Cocineros argentinos" width="500" height="250">

    <hr>
    
    <h2 class="celeste-oscuro edu-vic">Ingredientes</h2>
    <ul class="montserrat rojo">
        <li>200 g de galletitas dulces</li>
        <li>100 g de manteca derretida</li>
        <li>500 g de queso crema</li>
        <li>200 g de crema de leche</li>
        <li>150 g de azúcar</li>
        <li>3 huevos</li>
        <li>1 cda de esencia de vainilla</li>
        <li>Ralladura de 1 limón</li>
        <li>Mermelada de frutos rojos (opcional)</li>
    </ul>
    
    <h2 class="edu-vic">Instrucciones</h2>
    <ol class="montserrat rojo">
        <li>Triturar las galletitas y mezclarlas con la manteca derretida. Forrar la base de un molde desmontable y llevar a la heladera.</li>
        <li>Batir el queso crema con el azúcar, agregar los huevos de a uno, la crema, la esencia de vainilla y la ralladura de limón.</li>
        <li>Volcar la mezcla sobre la base de galletitas y hornear a 160°C por 50 minutos.</li>
        <li>Dejar enfriar, desmoldar y cubrir con mermelada de frutos rojos si se desea.</li>
    </ol>

    <iframe src="https://www.youtube.com/embed/1QZgkF6lLzA" width="500" height="250"></iframe>
    <br>
    <a href="https://cocinerosargentinos.com/postres/cheesecake-clasico" target="_blank">Receta de cheesecake de Cocineros Argentinos</a>
    <br>
    <a href="Instructivo1.html">Receta de chocotorta</a>
    <br>
    <a href="../../Index.html">Volver al inicio</a>

</body>
</html>